body{
    color: gray;
    margin: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    background-color: black;
}
.container
{
    display: flex;
    height: 615px;
    width: 400px;
    border: 4px solid purple;
    border-radius: 10px;
    
}
.calculator
{
    display: flex;
}
.calculator
{
    flex-direction: column;
}
.keypad{
    background-color: black;
    height: 500px;
    width: 400px;
}
.display
{
    height: 115px;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: gray;
    color: black;
    padding: 10px;
    box-sizing: border-box;
}
.row1,.row2,.row3,.row4,.row5
{
    height: 100px;
    width: 400px;
    display: flex;
    flex-grow: 1;

}
.num
{
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-display
{
    height: 25px;
    font-size: small;
    font-style: italic;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-bottom: 2px solid black;
}
.result
{
    font-size: xx-large;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 90px;
}
button{
    background-color: black;
    color: gray;
    height: 100px;
    width: 100px;
    border-radius: 8px;
}
.row5 .num, .row5 .num button
{
    width: 400px;

}